<!-- Begin Comments
================================================== 
<div class="container">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">              
            {{ template "_internal/disqus.html" . }}               
        </div>
    </div>
</div>
<!--End Comments
================================================== -->

<!--<div id="disqus_thread"></div>-->
<div class="container">
    <div id="comments" class="row justify-content-center mb-5">
        <div class="col-md-8">   
                <script>
                    (function() {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://eoof-github-io.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>
                    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript>    
        </div>
    </div>
</div>

    